<div class="container">
    <div class="row">
      <div class="col my-3">
        <h1>About Us</h1>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-unstyled d-flex">
                <li><a class="link-dark" href="https://www.youtube.com/@MicroNekoCh" target="_blank"><i class="bi bi-youtube h1"></i></a></li>
                <li class="ms-2"><a class="link-dark" href="https://www.instagram.com/micronekoch" target="_blank"><i class="bi bi-instagram h1"></i></a></li>
            </ul>
        </div>
    </div>
  </div>
